<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daytightchunks.wealthyhabits">
    <!-- Testing back up: -->
    <!-- adb shell bmgr backupnow  com.daytightchunks.wealthyhabits -->

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DesignDemo">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.EditorActivity"
            android:theme="@style/EditorTheme"
            android:parentActivityName=".ui.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.TransferActivity"
            android:theme="@style/EditorTheme"
            android:parentActivityName=".ui.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.CategoriesActivity"
            android:theme="@style/EditorTheme"
            android:parentActivityName=".ui.EditorActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.EditorActivity" />
        </activity>

        <provider
            android:name=".data.TransProvider"
            android:authorities="com.daytightchunks.wealthyhabits"
            android:exported="false"
            android:permission="true"
            android:readPermission="true"/>

        <service
            android:name=".services.TransactionService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

    </application>

</manifest>